<p-fieldset legend="Meal Plan/Board Types" toggleable class="section-fieldset">
  <div class="container">
    <form [formGroup]="roomsMealPlanTabViewForm">
      <div class="checkbox-grid">
        <div *ngFor="let option of mealBoardTypeOptions">
          <p-checkbox 
            [binary]="true" 
            [formControlName]="'option_' + option.id" 
            [label]="option.name">
          </p-checkbox>
        </div>
      </div>
    </form>
    <div *ngIf="roomsMealPlanTabViewForm.invalid && roomsMealPlanTabViewForm.touched" class="error-message">
      <p>Please select at least one option.</p>
    </div>
  </div>
</p-fieldset>


<p-fieldset legend="Room Types" toggleable class="section-fieldset">
    <p>
        Create new room types (Single, Double, Suite...).
        You could open a modal on a button click to add new rooms.
    </p>
</p-fieldset>

<p-fieldset legend="Room Orders" toggleable class="section-fieldset">
    <p>
        Display the list of added room types here.
        You can reorder them if needed.
    </p>
</p-fieldset>

<p-button label="Save" (onClick)="save()"></p-button>