

.container {
    padding: 1rem;
   
    margin: 0 auto;
  }
  .checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  p-checkbox {
    width: 100%;
  }
  .button-container {
    margin-top: 1rem;
    text-align: center;
  }
  