<div class="card">

    <div class="container">
        <form [formGroup]="form">
          <div class="discount-list">
            <div class="discount-row" *ngFor="let discount of discountsArray; let i = index" [formGroup]="discount">
              
              <!-- İndirim Türü -->
              <div class="discount-type">
                <p>{{ discountTypes[i].name }}</p>
              </div>
      
              <div class="discount-switch">
                <p-inputSwitch formControlName="isActive"></p-inputSwitch>
              </div>
              <!-- İndirim Şartı (Dropdown) -->
              <div class="discount-condition" *ngIf="discount.get('isActive')?.value">
                <p-dropdown formControlName="condition" [options]="conditions" optionLabel="label" placeholder="Sart Seciniz"></p-dropdown>
              </div>
      
              <!-- Aktif/Pasif (InputSwitch) -->
             
            </div>
          </div>
      
          <!-- Kaydet Butonu -->
          <button type="button" (click)="saveDiscounts()" pButton label="Save" icon="pi pi-save"></button>
        </form>
      </div>
      
</div>