/* Form Container */
.form-container {
   
    margin: 0 auto;
    padding: 20px;
    
   
  }
  
  
  
  /* Form Group */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  //   .form-group input,
  //   .form-group textarea,
  //   .form-group p-calendar,
  //   .form-group p-dropdown {
  //     width: 100%;
  //     padding: 8px;
  //     border: 1px solid #ccc;
  //     border-radius: 4px;
  //     font-size: 0.9rem;
  //   }
  
  /* Date Group */
  .date-group {
    display: flex;
    gap: 1px;
  }
  
  /* Checkbox Group */
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
  }
  
  .checkbox-group div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  /* Submit Button */
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  
  
  .rules-container {
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;
  }
  
  .rule-row input,
  .rule-row p-dropdown {
    width: 100%;
  }
  
  .p-inputgroup-addon {
    font-size: 0.9rem;
  }
  
  .p-button {
    height: 36px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    flex: 1 1 1%;  /* Esnek büyüme, her biri %14 genişliğinde */
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .col label {
    margin-bottom: 5px;
  }
  
  .col p-radioButton,
  .col p-dropdown,
  .col p-calendar,
  .col p-button {
    width: 100%;  /* Bileşenlerin tamamını kapsayacak şekilde */
  }
  
  
  