not: push not icin burayi refact et
<div *ngIf="isVisible"
  class="announcement-container px-4 py-3 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3 position-relative">
  <!-- Left Content -->
  <div>
    <div class="text-blue-100 font-medium text-lg mt-2 mb-2">Announcement</div>
    <div class="text-white font-medium text-3xl">New news from Trixpo</div>
  </div>

  <!-- Action Button -->
  <div class="mt-4 mr-auto md:mt-0 md:mr-0">
    <a target="" href="" class="p-button font-bold px-4 py-2 p-button-warning p-button-rounded p-button-raised">
      <i class="pi pi-megaphone text-white text-2xl"></i>
    </a>
  </div>

  <!-- Close Button -->
  <button class="announcement-close-button" (click)="closeBanner()" aria-label="Close Announcement">
    <i class="pi pi-times"></i>
  </button>
</div>
not : grafikleri icin ram optimizasyonu burdan ekle.

<!-- top kards -->
<div class="grid">

  <!-- Notifications -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Notifications</h5>
        <div>
          <button pButton type="button" icon="pi pi-sync"
            class="p-button-rounded p-button-text p-button-plain"></button>
        </div>


      </div>
      <p-scrollPanel [style]="{ width: '100%', height: '338px' }">
        <!-- Bildirim Grupları -->
        <ng-container *ngFor="let group of notifications">
          <!-- Tarih Başlığı -->
          <span class="block text-600 font-medium mb-3">{{ group.date }}</span>
          <ul class="p-0 mx-0 mt-0 mb-4 list-none">
            <!-- Bildirimler -->
            <li *ngFor="let item of group.items" class="flex align-items-center py-2 border-bottom-1 surface-border">
              <!-- Renkli Daire -->
              <div class="w-1rem h-1rem flex align-items-center justify-content-center border-circle mr-3 flex-shrink-0"
                [ngClass]="item.color"></div>
              <!-- Bildirim İçeriği -->
              <span class="text-900 line-height-3">{{ item.content }}</span>
            </li>
          </ul>
        </ng-container>
      </p-scrollPanel>



    </div>
  </div>



  <!-- Contracts And Channels -->
  <div class="col-12 lg:col-6 xl:col-3">


    <div class="card mb-0">
      <div class="flex justify-content-between align-items-center mb-4">
        <h5>Contracts</h5>

        <div>
          <button pButton type="button" icon="pi pi-sync" class="p-button-rounded p-button-text p-button-plain"
            (click)="channelsRefresh()"></button>

        </div>

      </div>

      <ul class="list-none p-0 m-0">
        <!-- Total Contracts -->
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ contractSummary.totalContracts.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalContracts.progressColor"
                [ngStyle]="{ width: contractSummary.totalContracts.progress + '%' }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalContracts.countColor">
              {{ contractSummary.totalContracts.count }}
            </span>
          </div>
        </li>

        <!-- Total Unapproved Contracts -->
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ contractSummary.totalUnapprovedContracts.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalUnapprovedContracts.progressColor" [ngStyle]="{
                  width: contractSummary.totalUnapprovedContracts.progress + '%'
                }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalUnapprovedContracts.countColor">
              {{ contractSummary.totalUnapprovedContracts.count }}
            </span>
          </div>
        </li>

        <!-- Total Approved Contracts -->
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ contractSummary.totalApprovedContracts.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalApprovedContracts.progressColor" [ngStyle]="{
                  width: contractSummary.totalApprovedContracts.progress + '%'
                }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalApprovedContracts.countColor">
              {{ contractSummary.totalApprovedContracts.count }}
            </span>
          </div>
        </li>
      </ul>


    </div>

    <!-- Channels -->
    <div class="card mb-0 mt-1">
      <!-- Başlık -->
      <div class="flex justify-content-between align-items-center mb-4">
        <h5>Channels</h5>
        <div>
          <button pButton type="button" icon="pi pi-sync" class="p-button-rounded p-button-text p-button-plain"
            (click)="channelsRefresh()"></button>
        </div>
      </div>

      <!-- Kanallar Listesi -->
      <p-scrollPanel [style]="{ width: '100%', height: '100px' }">
        <ul class="list-none p-0 m-0">
          <!-- Kanal Liste Elemanları -->
          <li *ngFor="let channel of channels"
            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <!-- Kanal Adı -->
            <div>
              <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ channel.name }}</span>
            </div>
            <!-- İlerleme Çubuğu ve Sayı -->
            <div class="mt-2 md:mt-0 flex align-items-center">
              <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
                <div class="h-full" [ngClass]="channel.progressColor" [ngStyle]="{ width: channel.progress + '%' }">
                </div>
              </div>
              <span class="ml-3 font-medium" [ngClass]="channel.countColor">
                {{ channel.count }}
              </span>
            </div>
          </li>
        </ul>
      </p-scrollPanel>
    </div>


  </div>

  <!-- Room Types -->
  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <!-- Header Section -->
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Room Types</h5>
        <div>
          <button pButton type="button" icon="pi pi-sync"
            class="p-button-rounded p-button-text p-button-plain"></button>
        </div>
      </div>

      <!-- Summary Section -->
      <div class="summary-container">
        <div class="flex flex-wrap gap-3 justify-content-around">
          <div class="summary-card vacant">
            <i class="fa fa-door-open"></i>
            <div class="info">
              <h1>{{ soldedRooms }}</h1>
              <p>Sold</p>
            </div>
          </div>

          <div class="summary-card occupied">
            <i class="fa fa-bed"></i>
            <div class="info">
              <h1>{{ openRooms }}</h1>
              <p>Open</p>
            </div>
          </div>

          <div class="summary-card blocked">
            <i class="fa fa-ban"></i>
            <div class="info">
              <h1>{{ closedRooms }}</h1>
              <p>Closed</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Room Types Table -->
      <p-table [value]="roomTypes" responsiveLayout="scroll" class="room-table mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Room Type</th>
            <th><i class="fa fa-door-open text-green"></i> Sold</th>
            <th><i class="fa fa-bed text-blue"></i> Open</th>
            <th><i class="fa fa-ban text-orange"></i> Closed</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
          <tr>
            <td>{{ room.type }}</td>
            <td>{{ room.soldedRooms }}</td>
            <td>{{ room.openRooms }}</td>
            <td>{{ room.closedRooms }}</td>
          </tr>
        </ng-template>
      </p-table>



    </div>
  </div>









  <!-- Sales Overview Chart -->
  <div class="col-12 xl:col-6">

    <div class="card">
      <h5>Stay Revenue</h5>
      <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
    </div>

  </div>


<!-- Yolcu Istatigi -->
  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <!-- Header Section -->
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>ANTALYA Havalimanı Dış Hatlar Gelen Yolcu İstatistiği </h5>
        <div>
          <button pButton type="button" icon="pi pi-sync"
            class="p-button-rounded p-button-text p-button-plain"></button>
        </div>
      </div>

     

    

      <p-table
      [value]="passengerStatisticsData"
      [paginator]="true"
      [rows]="10"
      
     
      tableStyleClass="table-striped"
      responsiveLayout="scroll" scrollable="true"  class="room-table mt-4"
    >
      <!-- Kolon Başlıkları -->
      <ng-template pTemplate="header">
        <tr>
          <th >Milliyeti </th>
          <th >2020 </th>
          <th >2021 </th>
          <th >2022 </th>
          <th >2023 </th>
          <th >2024</th>
          <th >2023-2024 Farkı </th>
          <th >2023-2024 % </th>
          <th >Milliyet Payı % </th>
        </tr>
      </ng-template>
  
      <!-- Kolon Verileri -->
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.nationality }}</td>
          <td>{{ rowData.year2020 }}</td>
          <td>{{ rowData.year2021 }}</td>
          <td>{{ rowData.year2022 }}</td>
          <td>{{ rowData.year2023 }}</td>
          <td>{{ rowData.year2024 }}</td>
          <td>{{ rowData.difference }}</td>
          <td [ngClass]="getPercentageClass(rowData.percentageChange)">
            {{ rowData.percentageChange }}
          </td>
          <td>{{ rowData.marketShare }}</td>
        </tr>
      </ng-template>
    </p-table>


    </div>
  </div>


  <!-- Rakip Analizi -->
  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <!-- Header Section -->
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Competitor Analysis</h5>
        <div>
          <button pButton type="button" icon="pi pi-sync"
            class="p-button-rounded p-button-text p-button-plain"></button>
        </div>
      </div>
  
      <!-- Summary Section -->
      <div class="summary-container">
        <div class="">
          <!-- Ay Seçimi (Dropdown) -->
          <p-dropdown [options]="months" [(ngModel)]="selectedMonth"
            placeholder="Select Month"></p-dropdown>
        </div>
      </div>
  
      <!-- Hotels Table -->
      <p-table [value]="selectedHotels" responsiveLayout="scroll" class="room-table mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Hotels</th>
            <th><i class="fa fa-chart-line text-blue"></i> Sales</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hotel>
          <tr>
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.sales }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  

  <!-- <div class="col-12 xl:col-6">
    <div class="card mb-0">
      <div class="flex justify-content-between align-items-center mb-4">
        <h5>Facilities</h5>

        <div>
          <button pButton type="button" icon="pi pi-sync" class="p-button-rounded p-button-text p-button-plain"
            (click)="channelsRefresh()"></button>

        </div>

      </div>

      <ul class="list-none p-0 m-0">

        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ facilitySummary.totalFacilities.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalContracts.progressColor"
                [ngStyle]="{ width: contractSummary.totalContracts.progress + '%' }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalContracts.countColor">
              {{ facilitySummary.totalFacilities.count }}
            </span>
          </div>
        </li>


        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ facilitySummary.totalOpenForSaleFacilities.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalUnapprovedContracts.progressColor" [ngStyle]="{
                  width: facilitySummary.totalOpenForSaleFacilities.progress + '%'
                }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalUnapprovedContracts.countColor">
              {{ contractSummary.totalUnapprovedContracts.count }}
            </span>
          </div>
        </li>


        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
              {{ facilitySummary.totalClosedForSaleFacilities.label }}
            </span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
              <div class="h-full" [ngClass]="contractSummary.totalApprovedContracts.progressColor" [ngStyle]="{
                  width: facilitySummary.totalClosedForSaleFacilities.progress + '%'
                }"></div>
            </div>
            <span class="ml-3 font-medium" [ngClass]="contractSummary.totalApprovedContracts.countColor">
              {{ facilitySummary.totalClosedForSaleFacilities.count }}
            </span>
          </div>
        </li>
      </ul>


    </div>
  </div> -->
</div>