.breadcrumb-container {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .breadcrumb-item {
    font-size: 0.8rem;
  }
}







.active-link {

  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--primary-color) !important;

    background: var(--surface-ground) !important;
    /* Arka plan rengini koru */
    text-decoration: none !important;
    /* Alt çizgi değişimi olmasın */
  }
}

.inactive-link {
  color: #4d4d4d;
  /* Gri renk */
  text-decoration: none;

  &:hover {
    color: #4d4d4d !important;
    /* Gri renk */

    background: var(--surface-ground) !important;
    /* Arka plan rengini koru */
    text-decoration: none !important;
    /* Alt çizgi değişimi olmasın */
  }
}

.p-menuitem-link {
  // display: flex;
  // align-items: center;
  // text-decoration: none;


  i {
    color: var(--secondary-color) !important;
    margin-right: 7px;
    
    
  }
}