<div class="container">
    <form [formGroup]="form">
      <!-- Toplantı Odası Var mı? -->
      <div class="meeting-header-first">
        <label>Toplantı Odası Var Mı?</label>
        <p-checkbox type="checkbox" binary="true" formControlName="hasMeetingRoom" />
      </div>
  
      <!-- Toplantı Odası Sayısı -->
      <div *ngIf="form.get('hasMeetingRoom')?.value" class="meeting-header-second">
        <label>Toplantı Odası Sayısı:</label>
        <p-inputNumber [showButtons]="true"   formControlName="roomCount" [min]="1" [max]="10" />
      </div>
  
      <!-- Dinamik Kartlar -->
      <div  *ngIf="form.get('hasMeetingRoom')?.value" class="room-container mt-2">
        <div class="room-card" *ngFor="let room of roomsArray; let i = index" [formGroup]="room">
          <h3>Oda {{ i + 1 }}</h3>
  
          <div class="form-group">
            <label>Oda Adı:</label>
            <input pInputText type="text" formControlName="name" />
          </div>

          <div class="form-group">
            <label>Area(m2):</label>
            <p-inputNumber type="number" formControlName="area" min="1" />
          </div>
          <div class="form-group">
            <label>Height:</label>
            <p-inputNumber type="number" formControlName="height" min="1" />
          </div>

  
          <div class="form-group">
            <label>Theatre Capacity:</label>
            <p-inputNumber type="number" formControlName="theatreCapacity" min="1" />
          </div>
  
          <div class="form-group">
            <label>ClassRoom Capacity:</label>
            <p-inputNumber type="number" formControlName="classRoomCapacity" min="1" />
          </div>

 <div class="form-group">
            <label>U Shape Capacity:</label>
            <p-inputNumber type="number" formControlName="uShapeCapacity" min="1" />
          </div>

          <div class="form-group">
            <label>Board Shape Capacity:</label>
            <p-inputNumber type="number" formControlName="boardShapeCapacity" min="1" />
          </div>
          <div class="form-group">
            <label>Cabaret Capacity:</label>
            <p-inputNumber type="number" formControlName="cabaretCapacity" min="1" />
          </div>
          <div class="form-group">
            <label>Banquet Capacity:</label>
            <p-inputNumber type="number" formControlName="banquetCapacity" min="1" />
          </div>




          <div class="form-group">
            <label>Metrekare:</label>
            <p-inputNumber type="number" formControlName="size" min="1" />
          </div>
  
          <div class="form-group">
            <label>Teknik ekipman var mi ? </label>
            <p-inputSwitch  formControlName="hasProjector" />
          </div>
        </div>
      </div>

      <button  *ngIf="form.get('hasMeetingRoom')?.value" pButton type="button" (click)="saveRooms()">Save Rooms</button>
    </form>
  </div>
  