<!-- Bildirimler (Toast) -->
<p-toast></p-toast>

<!-- Sayfa Başlığı ve Açıklama -->
<!-- <app-page-title-and-info pageMainTitle="Create Facility" pageMainInfo="Manage your facility details, address, ratings, contracts and more.">

</app-page-title-and-info> -->

<!-- Sekme Yapısı (TabView) -->
<p-tabView [activeIndex]="2">

  <p-tabPanel header="General" leftIcon="pi pi-building">
    <ng-template pTemplate="content">
     <app-general-tab-view ></app-general-tab-view>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Opportunies" leftIcon="pi pi-building">
    <!-- Spor tesisleri girilebilecek -->
     olanaklar
    <ng-template pTemplate="content">
     <!-- <app-general-tab-view ></app-general-tab-view> -->
      olanaklar ekle ! 

    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Rooms" leftIcon="pi pi-list">
    <ng-template pTemplate="content">
      <app-rooms-meal-plan-tab-view ></app-rooms-meal-plan-tab-view>
    
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Meals" leftIcon="pi pi-pen-to-square">
    <!-- salan ile ilgili detaylar , ekipman bilgisi vs girilecek -->
    <ng-template pTemplate="content">

      <!-- <app-supplier-contracts-tab-view></app-supplier-contracts-tab-view> -->
      
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Pools/Aqua" leftIcon="pi pi-pen-to-square">
    <!-- salan ile ilgili detaylar , ekipman bilgisi vs girilecek -->
    <ng-template pTemplate="content">

      <!-- <app-supplier-contracts-tab-view></app-supplier-contracts-tab-view> -->
      
    </ng-template>
  </p-tabPanel>


  <p-tabPanel header="Mice" leftIcon="pi pi-pen-to-square">
    <ng-template pTemplate="content">

      <!-- <app-supplier-contracts-tab-view></app-supplier-contracts-tab-view> -->
      
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Otel Type / Temas" leftIcon="pi pi-pen-to-square">
    <ng-template pTemplate="content">

      <!-- <app-supplier-contracts-tab-view></app-supplier-contracts-tab-view> -->
      
    </ng-template>
  </p-tabPanel>
 

  <p-tabPanel header="Supplier Contracts" leftIcon="pi pi-pen-to-square">
    <ng-template pTemplate="content">

      <app-supplier-contracts-tab-view></app-supplier-contracts-tab-view>
      
    </ng-template>
  </p-tabPanel>
 
  <!-- <p-tabPanel header="Allotments" leftIcon="pi pi-lock">
    <ng-template pTemplate="content">

      <app-allotments-tab-view ></app-allotments-tab-view>
      
    </ng-template>
  </p-tabPanel> -->

  <p-tabPanel header="Cancellation Pol." leftIcon="pi pi-lock">
    <ng-template pTemplate="content">

      <app-cancellation-policy-tab-view></app-cancellation-policy-tab-view>
      
    </ng-template>
  </p-tabPanel>
  

  <p-tabPanel header="Documents" leftIcon="pi pi-lock">
    Is yeri acma ruhsati ,
    bakanlik belgesi ,
    ucuncu sahis malis sigorta policesi ,
    vergi levhasi  Inputlari gir!
    <ng-template pTemplate="content">

      <!-- <app-cancellation-policy-tab-view></app-cancellation-policy-tab-view> -->
      
    </ng-template>
  </p-tabPanel>
  

</p-tabView>

